@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;700&display=swap');

*{
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    background-color: hsl(217, 54%, 11%);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    background-color: hsl(216, 50%, 16%);
    border-radius: 15px;
    width: 350px;
    height: 597px;
    padding: 25px;
}

.img-box{
    height: 300px;
    width: 100%;
    position: relative;
}
img{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    border-radius: 10px;
}

.contenedor-h2 p{
    color: white;
    padding: 6px;
    font-size: 18px;
}

.contenedor-h2 h2{
    color: white;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 15px;
}

.contenedor-h2 p{
    color: hsl(214, 28%, 69%);
}

.price{
    margin-top: 20px;
    color: hsl(178, 100%, 50%);
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid hsl(214, 28%, 69%);
    padding-bottom: 20px;
    
}

section h3{
    color: hsl(214, 28%, 69%);
}
.days{
    float: right;
    width: 25%;
    color: hsl(214, 28%, 69%);
}

footer{
    color: hsl(214, 28%, 69%);
    margin-top: 15px;
}

footer img{
    width: 35px;
    height: 35px;
    border: 1px solid hsl(0, 0%, 99%);
    border-radius: 20px;
}

footer h4{
    padding: 10px;
    padding-left: 50px;
}

footer h4 span{
    color: hsl(0, 0%, 99%);
}